section.reserve
    div.container
        div.text
            h2 Остались вопросы?
            p Оставьте заявку и наши менеджеры проконсультируют вас
        form
            input(type="text", name="name", placeholder="Имя")
            input(type="tel", name="phone", placeholder="+7 (999) 999-99-99")
            button.blue
                span Отправить
                include ../../images/button_arrow.svg
        div.note
            span Нажимая на кнопку "Отправить", я даю согласие на обработку персональных данных
            span * - обязательные поля для заполнения