extends common/_layout.pug
include common/_mixins.pug

block links
    link(rel="stylesheet", href="css/dolgoletie.css")

block content

    section.main
        div.container
            img(src="images/main.webp", alt="", style="object-position: 25% center")
            div.text
                h1 Сезон активного долголетия
                span Ваш секрет отличного самочувствия и поющего настроения!

    section.what
        div.container
            div.text
                h2 Что такое сезон активного долголетия?
                p #[b На время этого периода только для гостей 60+] путевка будет усилена уникальным отдыхом, персональной заботой и специальными бонусами.
                p #[strong Сезон включает массу дополнительных преимущетв] Вас ждёт качественное охдоровление с особым вниманием врачей, разнообразные развлечения и интересные знакомства с близкими по духу.
                ul
                    li 
                        img(src="images/horn.svg", alt="")
                        span Предложение распростроняется на все программы
                    li 
                        img(src="images/percents_20.svg", alt="")
                        span Включает скидку до 20% по акции «Здоровье и долголетие» при бронировании от 7 дней
            div.action
                h2 Запланируй поездку
                span на даты отдыха #[br]с 03.11.2024 по 26.12.2024 #[br]от 3 дней
                button.white
                    span Воспользоваться акцией
                    include ../images/button_arrow.svg

    section.programs
        div.container
            div.text
                h2 Уникальная программа активного отдыха
                span По 20 самых любопытных мероприятий в день! С нами не заскучаете!
            div.swiper.grid
                div.swiper-wrapper
                    div.swiper-slide: +program('images/1.webp', 'Тематические мероприятия', 'А также концерты и танцы. Каждый день')
                    div.swiper-slide: +program('images/5.webp', 'Живые встречи с врачами', 'Встречи на темы здоровья и секретов молодости')
                    div.swiper-slide: +program('images/4.webp', 'Экскурсии по Белокурихе', 'Бесплатный трансфер по территории Белокурихи')
                    div.swiper-slide: +program('images/2.webp', 'Экзотические практики ', 'Для укрепления тела и духа')
                    div.swiper-slide: +program('images/6.webp', 'Творческие мастер-классы', 'Раскроют вас и подарят вдохновение')
                    div.swiper-slide: +program('images/3.webp', 'Яркие фото на память', 'От профессионального фотографа')

    section.benefit
        div.container
            h2 Получите выгодную #[br]стоимость путевки #[span.blue на 7  дней от 27 720 ₽]
            button.blue
                span Подробнее
                include ../images/button_arrow.svg

    section.bonuses
        div.container
            h2 Бонусы
            div.list
                div.discounts
                    h3 Скидки на путевку
                    span Период сезона охватывает самые выгодные скидки по акции «#[a(href="###") Здоровье и долголетие]».
                    br
                    span Воспользуйтесь выгодой при бронировании программы #[b от 7 дней].
                    ul
                        li 
                            div(data-percents="15%").icon: img(src="images/discount.svg", alt="")
                            span проживание #[b с 03.11 по 22.11] суммируется с акцией «Лояльность» до 20% 
                        li 
                            div(data-percents="20%").icon: img(src="images/discount.svg", alt="")
                            span проживание #[b с 23.11 по 26.12] максимальная скидка
                div.swiper
                    div.swiper-wrapper
                        div.swiper-slide: +bonus('images/22.webp', 'Куратор вашего отдыха', 'Куратор поможет быстро влиться в насыщенную программу отдыха с первого дня. Не даст пропустить ни одно мероприятие, познакомит вас с веселыми компаньонами.')
                        div.swiper-slide: +bonus('images/23.webp', 'Дополнительные возможности', 'Только для гостей 60+ предусмотрены специальные предложения и скидки на дополнительные услуги вне программы: диагностика, процедуры и комплексы процедур.')
                div.percents: span Скидки #[br]до #[b 20%]

    //- section.benefit.blue
    //-     div.container
    //-         h2 Получите выгодную стоимость путевки от 26 160 руб 
    //-         button.white
    //-             span Забронировать со скидкой
    //-             include ../images/button_arrow.svg

    section.therapy
        div.container
            h2 Лечение в санатории «Родник Алтая»
            div.list
                +therapy('images/7.webp', 'Более 300 процедур в новом лечебном отделении')
                +therapy('images/8.webp', 'Безлимитные экспертные консультации 23 докторов', '*количество мест ограничено')
                +therapy('images/9.webp', 'индивидуальный перечень процедур')
            div.benefit
                h2 Улучшение состояния здоровья у 94% гостей
                button.blue
                    span Выбрать программу
                    include ../images/arrow.svg

    include sections/_reviews.pug

    section.additions
        div.container
            h2 Забронируйте сейчас свой здоровый отдых #[br]на период #[span.blue 3 ноября — 26 декабря] и получите:
            div.swiper
                div.swiper-wrapper
                    div.swiper-slide: +advantage('images/price.svg', 'Программы развлечений и оздоровления по цене одной путевки')
                    div.swiper-slide: +advantage('images/user.svg', 'Куратора на весь период путевки')
                    div.swiper-slide: +advantage('images/percents_20.svg', 'Скидки на путевку до 20%')
                    div.swiper-slide: +advantage('images/car.svg', 'Бесплатный трансфер по территории Белокурихи')
                    div.swiper-slide: +advantage('images/hands.svg', 'Самое умиротворенное время на курорте Белокуриха')

    include sections/_reserve.pug

    include sections/_conditions.pug