footer.footer
    div.container
        div.footer-menu
            ul.menu-list
                li.menu-item: a(href="/specpredlozheniya/") Программы
                li.menu-item: a(href="/nomera/") Номера
                li.menu-item: a(href="/about/pitanie-v-sanatorii/") Питание
                li.menu-item: a(href="/promo-programmy/") Путевки
                li.menu-item: span.selected Акции
                li.menu-item: a(href="/prices/") Прайс-лист
                li.menu-item: a(href="/lechenie/") Лечение
                li.menu-item: a(href="/contakty/") Контакты
        div.footer-logo.sm-show
            a(href="/"): img(src="https://rodnik-altaya.com/local/assets/images/logo_footer.png", width="200", height="73", alt="Санаторий в Белокурихе")
        div.footer-widget
            div.widget-contacts
                div.contacts-mobail
                    div.contacts-mobail-adress
                        b Адрес санатория: Алтайский край, г. Белокуриха, ул. Братьев Ждановых, 2 (#[a(href="/contakty/kak-dobratsya/", target="_blank") Как добраться])
                    div.contacts-mobail-tel
                        b Телефон для бронирования:
                        a.tel(href="tel:88005500880") 8 800 550-08-80
                        span (бесплатно по России)
                div.footer-logo
                    a(href="/"): img(src="https://rodnik-altaya.com/local/assets/images/logo_footer.png", width="214", height="78", alt="Санаторий «Родник Алтая» в Белокурихе", title="Санаторий «Родник Алтая» в Белокурихе")
                div.contacts-tel
                    a.tel(href="tel:88005500880") 8 800 550-08-80
                    p.tel-sub звонок по&amp;nbsp;России бесплатный
            div.widget-link
                ul
                    li: a(href="https://rodnik-altaya.com/upload/medialibrary/b4e/h8hoz6ovrh3ahn52khgl95mct9j54w35/Dogovor-okazaniya-uslug-s-fizicheskimi-litsami.pdf", target="_blank") Договор оказания услуг с физическими лицами
                    li: a(target="_blank", href="/privacy/")  Политика конфиденциальности 
                    li: a(href="/sitemap/")  Карта сайта 
                    li: a(href="https://shop.hotbot.ai/rodnikaltaya", target="_blank", rel="nofollow") Дополнительные услуги
                        span(class="footer__icon")
                            img.lazyload.loaded(src="/images/template/pay.svg", height="36", width="36", data-src="/images/template/pay.svg", alt="")
            div.widget-social
                div.messengers
                    div: a(href="https://t.me/rodnik_altaya", target="_blank", rel="nofollow")
                        img.lazyload.loaded(data-src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_tg.svg", src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_tg.svg", alt="")
                    div: a(href="https://vk.com/club46302437", target="_blank", rel="nofollow")
                        img.lazyload.loaded(data-src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_vk.svg", src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_vk.svg", alt="")
                    div: a(href="https://ok.ru/sanatoryr", target="_blank", rel="nofollow")
                        img.lazyload.loaded(data-src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_ok.svg", src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_ok.svg", alt="")
                    div: a(href="https://www.youtube.com/user/rodnikaltaya", target="_blank", rel="nofollow")
                        img.lazyload.loaded(data-src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_youtube.svg", src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_youtube.svg", alt="")
                    div: a(href="https://zen.yandex.ru/id/603f5fa3347ac015d15609c9", target="_blank", rel="nofollow")
                        img.lazyload.loaded(data-src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_zen.svg", src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_zen.svg", alt="")
                    div: a(href="https://www.tripadvisor.ru/Hotel_Review-g1643562-d5025221-Reviews-Rodnik_Altaya_Health_Resort-Belokurikha_Altai_Krai_Siberian_District.html", target="_blank", rel="nofollow")
                        img.lazyload.loaded(data-src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_tripadvisor.svg", src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/messengers/images/ic_tripadvisor.svg", alt="")
                div.footer-payment-link
                    a(href="/prices/oplatit-schet/", class="payment__link")
                        span(class="payment__icon")
                            img.lazyload.loaded(data-src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/payment-link/images/ic_pay.svg", src="https://rodnik-altaya.com/local/templates/.default/components/mwi/template.include/payment-link/images/ic_pay.svg", alt="", width="15", height="18")
                        span Оплатить счёт
                div.footer-bill-pay
                    img(loading="lazy", src="https://rodnik-altaya.com/local/assets/images/plate5.png", width="220", height="90", alt="Финалист премии Russian Hospitality Awards", title="Финалист премии Russian Hospitality Awards")
            form.footer-subscription(action="/action/mediana/?CODE=mediana#formSubscribe", method="post")
                strong Подпишитесь на рассылку:
                input(type="hidden", name="subscribe", value="footer")
                input(type="text", placeholder="E-mail", required, name="PARAMS[MAIL]")
                button(type="submit") Отправить
                span Нажимая на кнопку &quot;Отправить&quot;, я даю согласие на 
                    a(href="/privacy/", target="_blank") обработку персональных данных
                div(style="display:none")
                    input(name="telephone1", value="")
                    textarea(name="message1")
        div.footer-text.flex-footer-3col
            div.text-polit
                noindex
                    p  Заполняя форму обратной связи, в том числе указывая номер телефона на сайте или лендингах, либо подписываясь на рассылку, вы выражаете: согласие на получение рассылки посредством e-mail любой информации Санатория, включая предоставление вам рекламной информации; выражаете свое согласие на обработку ООО Санаторий «Родник Алтая» ваших персональных данных, в целях заключения и исполнения договора оказания санаторно-курортных и/или оздоровительных услуг, и/или платных медицинских услуг. 
                    p
                        a(href="mailto:inform@rodnik-altaya.com") inform@rodnik-altaya.com
                        | электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
            div.flex-pay-and-wj
                div.footer-pay
                    noindex
                        p
                            span(style="font-size: 9pt; vertical-align: middle;") Мы принимаем:
                            br
                            img(loading="lazy", width="52", height="33", src="/upload/medialibrary/4a7/mastercard2.jpg", alt="", style="vertical-align:middle;")
                            img(loading="lazy", width="62", height="36", src="/upload/medialibrary/f6f/visa2.jpg", alt="", style="vertical-align:middle;")
                            img(loading="lazy", width="52", height="28", src="/upload/medialibrary/20a/shk.jpg", alt="", style="vertical-align:middle;margin-right:4px;")
                            img(loading="lazy", width="60", height="28", src="/images/template/pay_mir_accept.svg", alt="", style="vertical-align:middle;")
                            br
                            span(style="font-size:9pt;vertical-align:middle;") Информация на сайте не является публичной офертой
                        p
                            a(rel="nofollow noopener", href="https://www.travelline.ru/products/tl-hotel")
                                | Модуль онлайн-бронирования
                                | TL: Booking Engine
                div.footer-wj
                    div.widget-reputation
                        #tl-reputation-widget
                    div.footer-ya-tripad
                        div.widget-ya
                            iframe(src="https://yandex.ru/sprav/widget/rating-badge/92012401542", width="150", height="50", frameborder="0")
                            span Белокуриха
        div.footer-copyright
            div.copyright-left
                span.icon.logo
                | ©&amp;nbsp;2010—2024, Родник Алтая, санаторий в Белокурихе – Тел.:
                a.grey-link(href="tel:88005500880") 8 800 550-08-80
                br
                | При использовании любых материалов сайта, включая фотографии и тексты, активная ссылка на
                a(href="https://rodnik-altaya.com/") rodnik-altaya.com
                | обязательна.
    div.container(style="display:block;")
        div.footer-notes
            div ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА.
