@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
main * {
  margin: unset;
  padding: unset;
  outline: unset;
  border: unset;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  font-variant-numeric: lining-nums;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main html, main body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
main input,
main textarea,
main select,
main button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}
main input::-webkit-input-placeholder, main textarea::-webkit-input-placeholder, main select::-webkit-input-placeholder, main button::-webkit-input-placeholder {
  color: inherit;
}
main input::-moz-placeholder, main textarea::-moz-placeholder, main select::-moz-placeholder, main button::-moz-placeholder {
  color: inherit;
}
main input:-ms-input-placeholder, main textarea:-ms-input-placeholder, main select:-ms-input-placeholder, main button:-ms-input-placeholder {
  color: inherit;
}
main input::-ms-input-placeholder, main textarea::-ms-input-placeholder, main select::-ms-input-placeholder, main button::-ms-input-placeholder {
  color: inherit;
}
main input::placeholder,
main textarea::placeholder,
main select::placeholder,
main button::placeholder {
  color: inherit;
}
main input option,
main textarea option,
main select option,
main button option {
  background-color: inherit;
}
main input, main textarea, main label {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  resize: none;
}
main input::-webkit-input-placeholder, main textarea::-webkit-input-placeholder, main label::-webkit-input-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
main input::-moz-placeholder, main textarea::-moz-placeholder, main label::-moz-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
main input:-ms-input-placeholder, main textarea:-ms-input-placeholder, main label:-ms-input-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
main input::-ms-input-placeholder, main textarea::-ms-input-placeholder, main label::-ms-input-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
main input::placeholder, main textarea::placeholder, main label::placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
main a {
  cursor: pointer;
  color: inherit;
}
main img {
  vertical-align: middle;
  font-style: italic;
}

:root {
  --gap: 30px;
  --full: minmax(var(--gap), 1fr);
  --content: min(1180px, 100% - var(--gap) * 2);
  --breakout: minmax(0, 190px);
}
@media (max-width: 960px) {
  :root {
    --gap: 20px;
  }
}

html, body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow-x: clip;
  color: #212121;
  font-size: 14px;
  background: #f3f3f3;
  line-height: normal !important;
}

section, header, footer {
  position: relative;
}

main h1, main h2, main h3, main h4 {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  margin: unset;
}
main h1 {
  font-size: 46px;
}
@media (max-width: 960px) {
  main h1 {
    font-size: 24px;
  }
}
main h2 {
  font-size: 28px;
}
@media (max-width: 960px) {
  main h2 {
    font-size: 20px;
  }
}
main h3 {
  font-size: 20px;
}
@media (max-width: 960px) {
  main h3 {
    font-size: 16px;
  }
}
main a {
  cursor: pointer;
}
main a:hover {
  color: #008ed3;
  text-decoration: none;
}
main li::marker {
  color: #008ed3;
}
main input {
  border: 1px solid #00a1ff;
  border-radius: 999px;
  padding: 16px 20px;
  height: 48px;
}
main input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #63666a;
}
main input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #63666a;
}
main input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #63666a;
}
main input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #63666a;
}
main input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #63666a;
}
main strong, main b {
  font-weight: 700;
}
main button, main a.button {
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 16px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 999px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
main button svg, main a.button svg {
  width: 22px;
}
main button.white, main a.button.white {
  background: #fff;
  color: #212121;
}
main button.white:hover, main a.button.white:hover {
  background: #e0e0e0;
}
main button.blue, main a.button.blue {
  background: #008ed3;
  color: #f4f2f2;
}
main button.blue:hover, main a.button.blue:hover {
  background: #00a1ff;
}
main button.blue svg path, main a.button.blue svg path {
  fill: white;
}
main a.program {
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  overflow: clip;
  height: 100%;
  text-decoration: unset;
}
main a.program img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
main a.program div.text {
  display: grid;
  grid-gap: 5px;
  padding: 20px 26px 34px;
}
main a.program:hover {
  color: inherit;
}
main a.program:hover h3 {
  color: #00a1ff;
}
main a.program_full, main a.complex_full {
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  overflow: clip;
  text-decoration: unset;
}
main a.program_full div.image, main a.complex_full div.image {
  position: relative;
  height: 210px;
}
main a.program_full div.image img, main a.complex_full div.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
main a.program_full div.image span.date, main a.complex_full div.image span.date {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  border-radius: 70px;
  padding: 4px 16px;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}
@media (max-width: 960px) {
  main a.program_full div.image span.date, main a.complex_full div.image span.date {
    top: 10px;
    right: 10px;
  }
}
main a.program_full div.description, main a.complex_full div.description {
  display: grid;
  grid-gap: 0px;
  padding: 20px 26px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main a.program_full div.description div.wrap, main a.complex_full div.description div.wrap {
  display: grid;
  grid-template-rows: 0fr;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main a.program_full div.description div.wrap div.overflow, main a.complex_full div.description div.wrap div.overflow {
  overflow: hidden;
}
main a.program_full div.description ul, main a.complex_full div.description ul {
  display: grid;
  grid-gap: 12px;
  font-weight: 400;
  font-size: 14px;
}
main a.program_full div.description ul li, main a.complex_full div.description ul li {
  display: grid;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  grid-gap: 8px;
  color: inherit !important;
}
main a.program_full div.description div.price, main a.complex_full div.description div.price {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 12px;
  margin-top: 32px;
}
main a.program_full div.description div.price span.price, main a.complex_full div.description div.price span.price {
  display: block;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #212121;
}
main a.program_full div.additional, main a.complex_full div.additional {
  padding: 0px 26px 14px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 12px;
}
main a.program_full div.additional button, main a.complex_full div.additional button {
  padding-left: 0px;
  padding-right: 0px;
  background-color: transparent;
  color: #008ed3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main a.program_full div.additional div.level, main a.complex_full div.additional div.level {
  display: grid;
  justify-self: end;
  grid-template-columns: auto -webkit-max-content;
  grid-template-columns: auto max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}
main a.program_full div.additional div.level span, main a.complex_full div.additional div.level span {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main a.program_full div.additional div.level div, main a.complex_full div.additional div.level div {
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-gap: 4px;
  grid-auto-flow: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
main a.program_full div.additional div.level div div:nth-child(1), main a.complex_full div.additional div.level div div:nth-child(1) {
  border: 1px solid #00a1ff;
  background: #00a1ff;
  width: 4px;
  height: 13px;
}
main a.program_full div.additional div.level div div:nth-child(2), main a.complex_full div.additional div.level div div:nth-child(2) {
  border: 1px solid #00a1ff;
  background: #00a1ff;
  width: 4px;
  height: 18px;
}
main a.program_full div.additional div.level div div:nth-child(3), main a.complex_full div.additional div.level div div:nth-child(3) {
  border: 1px solid #00a1ff;
  background: #00a1ff;
  width: 4px;
  height: 23px;
}
main a.program_full div.additional div.level div.low div:nth-child(2), main a.complex_full div.additional div.level div.low div:nth-child(2), main a.program_full div.additional div.level div.low div:nth-child(3), main a.complex_full div.additional div.level div.low div:nth-child(3) {
  background: transparent;
}
main a.program_full div.additional div.level div.middle div:nth-child(3), main a.complex_full div.additional div.level div.middle div:nth-child(3) {
  background: transparent;
}
main a.program_full:hover, main a.complex_full:hover {
  color: inherit;
}
main a.program_full:hover div.description, main a.complex_full:hover div.description {
  grid-gap: 16px;
}
main a.program_full:hover div.description div.wrap, main a.complex_full:hover div.description div.wrap {
  grid-template-rows: 1fr;
}
main a.program_full:hover div.description div.wrap div.overflow, main a.complex_full:hover div.description div.wrap div.overflow {
  -webkit-animation-name: overflow_disable;
          animation-name: overflow_disable;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
main a.program_full:hover div.additional button, main a.complex_full:hover div.additional button {
  padding-left: 32px;
  padding-right: 32px;
  background: #008ed3;
  color: #f4f2f2;
}
main a.program_full:hover div.additional button:hover, main a.complex_full:hover div.additional button:hover {
  background: #00a1ff;
}
main a.program_full:hover div.additional div.level span, main a.complex_full:hover div.additional div.level span {
  opacity: 1;
}
@media (max-width: 960px) {
  main a.program_full div.description, main a.complex_full div.description {
    grid-gap: 16px;
  }
  main a.program_full div.description div.wrap, main a.complex_full div.description div.wrap {
    grid-template-rows: 1fr;
  }
  main a.program_full div.additional button, main a.complex_full div.additional button {
    padding-left: 32px;
    padding-right: 32px;
    background: #008ed3;
    color: #f4f2f2;
  }
  main a.program_full div.additional button:hover, main a.complex_full div.additional button:hover {
    background: #00a1ff;
  }
  main a.program_full div.additional div.level span, main a.complex_full div.additional div.level span {
    opacity: 1;
  }
}
main a.complex_full div.description div.price {
  margin-top: 4px;
}
@-webkit-keyframes overflow_disable {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@keyframes overflow_disable {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
main a.therapy {
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  overflow: clip;
  text-decoration: unset;
}
main a.therapy img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
main a.therapy div.text {
  display: grid;
  grid-gap: 15px;
  padding: 20px 26px;
}
main div.bonus {
  position: relative;
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  overflow: clip;
  height: 100%;
}
main div.bonus img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
main div.bonus div.text {
  display: grid;
  grid-gap: 8px;
  padding: 20px 26px 26px;
}
main div.bonus div.text h3 {
  font-size: 24px;
  font-weight: 700;
}
main div.review {
  display: grid;
  grid-template-areas: "Stars Stars" "Text Text" "Author Date";
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  border-radius: 20px;
  background: #fff;
  padding: 24px 32px;
  height: 100%;
}
@media (max-width: 960px) {
  main div.review {
    padding: 20px 18px;
  }
}
main div.review div.stars {
  grid-area: Stars;
}
main div.review div.text {
  grid-area: Text;
  margin-top: 24px;
  margin-bottom: 32px;
}
main div.review div.author {
  grid-area: Author;
  font-weight: 700;
  font-size: 17px;
  text-transform: capitalize;
  color: #212121;
}
@media (max-width: 960px) {
  main div.review div.author {
    font-size: 14px;
  }
}
main div.review div.date {
  grid-area: Date;
  justify-self: end;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 960px) {
  main div.review div.date {
    font-size: 14px;
  }
}
main div.review div.date a {
  color: #00a1ff;
  text-decoration: underline;
}
main div.review div.date a:hover {
  color: #008ed3;
  text-decoration: none;
}
main div.advantage {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-gap: 20px;
}
main div.advantage div.icon {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 10px;
  width: 100%;
  height: 160px;
  background: #fff;
}
main div.toolbar_note {
  cursor: pointer;
  display: inline-grid;
  position: relative;
}
main div.toolbar_note div.toolbar_text {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 12px);
  color: #000;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  width: 200px;
  z-index: 9;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 12px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
main div.toolbar_note:hover div.toolbar_text {
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 960px) {
  main div.toolbar_note div.toolbar_text {
    opacity: 0 !important;
    pointer-events: auto;
  }
  main div.toolbar_note.show div.toolbar_text {
    opacity: 1 !important;
    pointer-events: auto;
  }
}

html:has(dialog[open]) {
  overflow-y: hidden;
  margin-right: var(--scrollbar-width);
}

dialog {
  margin: auto;
}
dialog svg.cross {
  position: fixed;
  top: var(--section-side-gap);
  right: var(--section-side-gap);
  cursor: pointer;
  justify-self: end;
}
dialog div.container {
  padding: var(--section-side-gap);
  max-width: 640px;
}
dialog::-ms-backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.75);
}
dialog::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.75);
}
dialog::-webkit-scrollbar {
  width: 0;
  height: 0;
}/*# sourceMappingURL=common.css.map */