section.main {
  width: 100%;
}
section.main div.container {
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 622px;
}
@media (max-width: 960px) {
  section.main div.container {
    height: 480px;
  }
}
section.main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section.main div.text {
  display: grid;
  grid-gap: 4px;
  position: relative;
  text-align: right;
  color: #fff;
  padding-bottom: 108px;
  padding-left: var(--gap);
  padding-right: var(--gap);
}
@media (max-width: 960px) {
  section.main div.text {
    padding-bottom: 40px;
  }
}
section.main div.text h1 {
  text-align: right;
  color: #fff;
}
section.main div.text span {
  font-weight: 500;
  font-size: 20px;
  text-align: right;
}
@media (max-width: 960px) {
  section.main div.text span {
    font-size: 14px;
  }
}

section.reviews {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.reviews {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.reviews div.container {
  display: grid;
  grid-gap: 26px;
}
@media (max-width: 960px) {
  section.reviews div.container {
    grid-gap: 14px;
  }
}
section.reviews div.title {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
  grid-gap: 18px;
}
@media (max-width: 960px) {
  section.reviews div.title {
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
  }
  section.reviews div.title a.button {
    display: none;
  }
}
section.reviews div.title img {
  display: block;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 960px) {
  section.reviews div.title img {
    padding: unset;
    background-color: transparent;
    mix-blend-mode: multiply;
  }
}
section.reviews div.title a.button {
  min-width: 228px;
  background: transparent;
  border: 1px solid #008ed3;
  color: #008ed3;
}
section.reviews div.title a.button svg path {
  fill: #008ed3;
}
section.reviews div.title a.button:hover {
  background: #00a1ff;
  border: 1px solid #00a1ff;
  color: #fff !important;
}
section.reviews div.title a.button:hover svg path {
  fill: #fff;
}
section.reviews div.slider {
  display: grid;
  grid-gap: 32px;
  position: relative;
}
section.reviews div.swiper {
  width: 100%;
  min-width: 0px;
}
section.reviews div.swiper-pagination {
  position: static;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 15px;
}
section.reviews div.swiper-pagination span {
  display: grid;
  border-radius: 20px;
  width: 5px;
  height: 5px;
  background: #89b9d9;
  opacity: 1;
  margin: unset !important;
}
section.reviews div.swiper-pagination span.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background: #00a1ff;
}
section.reviews div.swiper-navigation {
  position: absolute;
  top: calc(50% - 37px);
  left: -52px;
  width: calc(100% + 64px + 40px);
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  z-index: 1;
  pointer-events: none;
}
section.reviews div.swiper-navigation > *:first-child svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.reviews div.swiper-navigation > * {
  pointer-events: auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
section.reviews div.swiper-navigation > *:hover svg path {
  fill: #008ed3;
}
section.reviews div.swiper-navigation > * svg {
  width: 100%;
  height: 100%;
}

section.reserve {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.reserve {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.reserve div.container {
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  grid-gap: 24px;
  text-align: center;
  border-radius: 16px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 70px 45px;
}
@media (max-width: 960px) {
  section.reserve div.container {
    height: auto;
    padding: 36px 16px;
  }
}
section.reserve div.text {
  margin-bottom: 14px;
}
section.reserve div.text h2 {
  margin-bottom: 10px;
}
@media (max-width: 960px) {
  section.reserve div.text h2 {
    margin-bottom: unset;
  }
}
section.reserve div.text p {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #63666a;
}
@media (max-width: 960px) {
  section.reserve div.text p {
    display: none;
  }
}
section.reserve form {
  display: grid;
  grid-template-columns: 1fr 1fr -webkit-max-content;
  grid-template-columns: 1fr 1fr max-content;
  grid-gap: 20px;
  width: 100%;
}
@media (max-width: 960px) {
  section.reserve form {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    max-width: 380px;
  }
}
section.reserve form button {
  min-width: 270px;
  background: #00a1ff;
}
@media (max-width: 960px) {
  section.reserve form button {
    justify-self: center;
    width: 100%;
  }
}
section.reserve div.note {
  display: grid;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #727272;
}
section.reserve div.note a {
  text-decoration: underline;
}
section.reserve div.note a:hover {
  text-decoration: none;
}

section.conditions {
  margin-bottom: 70px;
  margin-top: 70px;
}
@media (max-width: 960px) {
  section.conditions {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.conditions div.container {
  display: grid;
  grid-gap: 16px;
}
section.conditions div.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}
@media (max-width: 640px) {
  section.conditions div.list {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}
section.conditions ul li {
  list-style-type: disc;
  margin-left: 1.75em;
  color: inherit !important;
}

section.age {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.age {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.age div.container {
  display: grid;
  grid-gap: 20px;
  padding: 26px 38px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}
@media (max-width: 960px) {
  section.age div.container {
    padding: 30px 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
  section.age div.container > h2 {
    grid-column: 1/3;
  }
}
@media (max-width: 640px) {
  section.age div.container {
    grid-template-columns: 1fr;
  }
  section.age div.container > h2 {
    grid-column: 1/2;
  }
}
@media (max-width: 640px) {
  section.age div.toolbar_note div.toolbar_text {
    left: unset;
    right: 0;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
}
section.age div.text {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 68px;
}
@media (max-width: 960px) {
  section.age div.text {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    font-size: 16px;
  }
}
section.age div.text div.left {
  display: grid;
  grid-gap: 24px;
}
section.age div.text div.left p {
  max-width: 517px;
}
section.age div.text div.left img {
  width: 100%;
  height: 188px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 20px;
}
section.age div.text h3 {
  margin-top: 38px;
  margin-bottom: 32px;
  text-transform: unset;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #212121;
}
@media (max-width: 960px) {
  section.age div.text h3 {
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 28px;
  }
}
section.age div.text h3 div.note {
  display: inline;
  line-height: 0;
  vertical-align: middle;
}
section.age div.text strong {
  display: block;
  margin-bottom: 12px;
}
section.age div.text ul {
  display: grid;
  grid-gap: 16px;
  color: #00a1ff;
}
section.age div.text ul li {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  grid-gap: 8px;
  color: #008ed3 !important;
}
section.age div.text ul li img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  position: relative;
}
section.age div.banner_note {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  background: #008ed3;
  color: #fff;
  padding: 18px 32px;
  text-align: center;
  opacity: 1;
}
section.age div.banner_note h3 {
  font-size: 20px !important;
}
@media (max-width: 640px) {
  section.age div.banner_note h3 {
    max-width: 180px;
    margin: auto;
  }
}
section.age div.banner_note b {
  display: block;
  font-weight: 900;
}
@media (max-width: 960px) {
  section.age div.banner_note {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 18px 24px;
    grid-auto-flow: row;
    grid-gap: 24px;
    font-size: 16px;
  }
}

section.programs {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.programs {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.programs div.container {
  display: grid;
  grid-gap: 24px;
}
section.programs div.slider {
  position: relative;
  display: grid;
}
section.programs div.swiper {
  width: 100%;
  min-width: 0;
  width: calc(100% + 10px);
  margin-left: -5px;
  padding: 5px;
}
section.programs div.swiper-navigation {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 100px;
  left: -52px;
  width: calc(100% + 64px + 40px);
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  z-index: 1;
  pointer-events: none;
}
section.programs div.swiper-navigation > *:first-child svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.programs div.swiper-navigation > * {
  pointer-events: auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
section.programs div.swiper-navigation > *:hover svg path {
  fill: #008ed3;
}
section.programs div.swiper-navigation > * svg {
  width: 100%;
  height: 100%;
}

section.callback {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.callback {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.callback div.container {
  display: grid;
  justify-items: center;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 46px;
  padding-bottom: 18px;
}
@media (max-width: 960px) {
  section.callback div.container {
    padding: 46px 16px;
  }
}
section.callback h2 {
  text-align: center;
}
section.callback h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 960px) {
  section.callback h3 {
    font-size: 20px;
    margin-top: 1.2em;
  }
}
section.callback ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  width: 100%;
  margin-top: 46px;
}
@media (max-width: 640px) {
  section.callback ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 16px;
  }
}
section.callback ul li {
  list-style-type: disc;
  margin-left: 1.75em;
  color: inherit !important;
}
@media (max-width: 640px) {
  section.callback ul li {
    font-size: 12px;
  }
}

section.healing {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.healing {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.healing div.container {
  display: grid;
  grid-gap: 50px;
}
@media (max-width: 960px) {
  section.healing div.container {
    grid-gap: 24px;
  }
}
section.healing div.list {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
}
@media (max-width: 960px) {
  section.healing div.list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 640px) {
  section.healing div.list {
    grid-template-columns: repeat(2, 1fr);
  }
}
section.healing div.list div {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-gap: 32px;
}
@media (max-width: 960px) {
  section.healing div.list div {
    grid-gap: 12px;
  }
}
section.healing div.list div img {
  width: 90px;
  height: 90px;
}
@media (max-width: 960px) {
  section.healing div.list div img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 640px) {
  section.healing div.list div:nth-child(5) {
    grid-column: 1/3;
  }
  section.healing div.list div:nth-child(5) span {
    display: block;
    max-width: 180px;
  }
}

section.service {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.service {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.service div.container {
  display: grid;
  grid-gap: 26px;
}
section.service div.content {
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  grid-gap: 40px;
}
@media (max-width: 960px) {
  section.service div.content {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
section.service div.advantages {
  border-radius: 16px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 28px 20px 20px 38px;
}
@media (max-width: 960px) {
  section.service div.advantages {
    padding: 20px 16px;
  }
}
section.service div.advantages h3:last-child {
  margin-top: 24px;
  text-transform: unset;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #212121;
  border-left: 2px solid #008ed3;
  padding-left: 12px;
}
@media (max-width: 960px) {
  section.service div.advantages h3:last-child {
    font-size: 18px;
  }
}
section.service div.advantages h3:last-child div.note {
  display: inline;
  line-height: 0;
  vertical-align: middle;
}
section.service div.advantages ul {
  margin-top: 12px;
  display: grid;
  color: #0d593e;
  gap: 8px;
}
section.service div.advantages ul li {
  font-size: 16px;
  list-style-type: disc;
  margin-left: 1.75em;
  color: #212121 !important;
}
section.service div.slider {
  display: grid;
  position: relative;
}
section.service div.slider div.swiper {
  width: 100%;
  min-width: 0px;
}
section.service div.slider div.swiper-slide {
  width: 100%;
  aspect-ratio: 778/400;
}
section.service div.slider div.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 16px;
}
section.service div.slider div.swiper-pagination {
  position: absolute;
  bottom: 30px;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 15px;
}
@media (max-width: 960px) {
  section.service div.slider div.swiper-pagination {
    display: none;
  }
}
section.service div.slider div.swiper-pagination span {
  display: grid;
  border-radius: 20px;
  width: 5px;
  height: 5px;
  background: #f4f2f2;
  opacity: 0.4;
  margin: unset !important;
}
section.service div.slider div.swiper-pagination span.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background: #00a1ff;
  opacity: 1;
}
section.service div.slider div.swiper-navigation {
  position: absolute;
  top: calc(50% - 16px);
  left: -34px;
  width: calc(100% + 64px + 4px);
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  z-index: 1;
  pointer-events: none;
}
@media (max-width: 960px) {
  section.service div.slider div.swiper-navigation {
    margin-top: 20px;
    position: static;
    width: 100%;
  }
}
section.service div.slider div.swiper-navigation > *:first-child svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.service div.slider div.swiper-navigation > * {
  pointer-events: auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
section.service div.slider div.swiper-navigation > *:hover svg path {
  fill: #008ed3;
}
section.service div.slider div.swiper-navigation > * svg {
  width: 100%;
  height: 100%;
}
section.service div.slider div.swiper-navigation > * svg path {
  fill: #00a1ff;
}
@media (max-width: 960px) {
  section.service div.slider div.swiper-navigation > * svg path {
    fill: black;
  }
}

section.excursion {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.excursion {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.excursion div.container {
  display: grid;
  grid-gap: 20px;
}
section.excursion div.player {
  position: relative;
}
section.excursion div.player video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  aspect-ratio: 1184/708;
  width: 100%;
  border-radius: 16px;
  overflow: clip;
}
section.excursion div.player video::-webkit-media-controls {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
section.excursion div.player video:hover::-webkit-media-controls {
  opacity: 1;
}
section.excursion div.player div.play {
  cursor: pointer;
}
section.excursion div.player div.play div.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}
@media (max-width: 960px) {
  section.excursion div.player div.play div.icon {
    width: 75px;
    height: 75px;
  }
}
section.excursion div.player div.play div.icon img {
  width: 100%;
  height: 100%;
}
section.excursion div.player div.play div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section.excursion div.player div.play.played div.icon {
  display: none;
}

section.therapy div.container {
  display: grid;
  grid-gap: 30px;
}
section.therapy div.text {
  display: grid;
  grid-gap: 10px;
}
section.therapy div.slider {
  position: relative;
  display: grid;
}
section.therapy div.swiper {
  width: 100%;
  min-width: 0;
  width: calc(100% + 10px);
  margin-left: -5px;
  padding: 5px;
}
section.therapy div.swiper-navigation {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 100px;
  left: -52px;
  width: calc(100% + 64px + 40px);
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  z-index: 1;
  pointer-events: none;
}
section.therapy div.swiper-navigation > *:first-child svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.therapy div.swiper-navigation > * {
  pointer-events: auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
section.therapy div.swiper-navigation > *:hover svg path {
  fill: #008ed3;
}
section.therapy div.swiper-navigation > * svg {
  width: 100%;
  height: 100%;
}

section.advantages {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.advantages {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.advantages div.container {
  display: grid;
  grid-gap: 26px;
}
section.advantages div.swiper {
  width: 100%;
  min-width: 0;
  overflow: visible;
}

section.additions {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 960px) {
  section.additions {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.additions div.container {
  display: grid;
  grid-gap: 20px;
}
section.additions div.swiper {
  width: 100%;
  min-width: 0;
  overflow: visible;
}/*# sourceMappingURL=mediana.css.map */