doctype html
html(lang="ru")
    include common/_head.pug
    body
        include common/_header.pug
        main
            include sections/_main.pug
            include sections/_what.pug
            include sections/_programs.pug
            include sections/_program.pug
            include sections/_curator.pug
            include sections/_reviews.pug
            include sections/_book.pug
        include common/_footer.pug