footer
    div.container
        a(href="index.php")
            img(src="images/logotype.svg", alt="Родник Алтая")
        div.contacts
            div.phone
                a(href="tel:88005500880") 8 800 550-08-80
                small звонок по России бесплатный
            div.socials
                a(href="index.php"): img(src="images/telegram.svg", alt="")
                a(href="index.php"): img(src="images/vkontakte.svg", alt="")
                a(href="index.php"): img(src="images/ok.svg", alt="")
                a(href="index.php"): img(src="images/youtube.svg", alt="")
                a(href="index.php"): img(src="images/dzen.svg", alt="")
                a(href="index.php"): img(src="images/trip.svg", alt="")
        div.reviews
            div.score
                div.numbers
                    strong 9.3/
                    span 10
                div.text
                    strong.blue Отлично
                    span 2048 отзывов
            a(href=""): img(src="images/finalist.webp", alt="")
        div.subscribe
            strong Подпишитесь на рассылку:
            form(action="")
                input(type="email", placeholder="E-mail")
                button Отправить
            small Нажимая на кнопку "Отправить", я даю согласие на #[a(href="index.php").blue обработку персональных данных]
        small.policy Заполняя форму обратной связи, в том числе указывая номер телефона на сайте или лендингах, либо подписываясь на рассылку, вы выражаете: согласие на получение рассылки посредством e-mail любой информации Санатория, включая предоставление вам рекламной информации; выражаете свое согласие на обработку ООО Санаторий «Родник Алтая» ваших персональных данных, в целях заключения и исполнения договора оказания санаторно-курортных и/или оздоровительных услуг, и/или платных медицинских услуг. #[a(href="mailto:inform@rodnik-altaya.com").blue inform@rodnik-altaya.com] электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
