header
    div.container
        a(href="index.php").logotype
            img(src="images/logotype.svg", alt="Родник Алтая")
        div.phone
            a(href="tel:88005500880") 8 800 550-08-80
            small звонок по России бесплатный
        button.empty
            include ../../images/phone.svg
            span Заказать звонок
        button
            include ../../images/key.svg
            span Онлайн бронирование