section.book
    div.container
        h2 Забронируйте сейчас свой здоровый отдых на период с 20 ноября по 24 декабря и получите:
        div.advantages
            div.advantage
                img(src="images/book_1.svg", alt="")
                span Программы развлечений и оздоровления по цене одной путевки
            div.advantage
                img(src="images/book_2.svg", alt="")
                span Куратора на весь период путевки 
            div.advantage
                img(src="images/book_3.svg", alt="")
                span Скидки на путевку до 20%
            div.advantage
                img(src="images/book_4.svg", alt="")
                span Бесплатный трансфер по территории Белокурихи
            div.advantage
                img(src="images/book_5.svg", alt="")
                span Самое умиротворенное время на курорте Белокуриха
        button Забронировать путевку
