section.curator
    div.container
        div.text
            h2.blue Куратор вашего отдыха
            p Он не даст вам пропустить ни одно мероприятие, познакомит вас по приезду с группой, которая приехала на слет. Вы переключитесь на отдых и общение на раз-два-три!
        div.background
            img(src="images/curator_background.webp", alt="")