section.main
    div.container
        div.text
            span С 20 нобяря по 24 декабря 2023 г
            h1 Сезон активного долголетия - зимний слет молодых сердцем
            button Забронировать со скидкой
    div.background
        img(src="images/main.webp", alt="")