section.programs
    div.container
        div.swiper.programs
            div.swiper-wrapper
                div.swiper-slide
                    div.image
                        img(src="images/programs_1.webp", alt="")
                    div.text
                        h2 Лечебная программа
                        ul
                            li Лечебное отделение обеспечивает более #[span.blue 200 процедур]
                            li Вы сможете пройти консультации #[span.blue 23 докторов и получить индивидуальный перечень процедур], которые помогут улучшить ваше состояние здоровья.
                            li #[span.blue 94% гостей] санатория отмечают #[span.blue улучшение состояние здоровья] в течение всего следующего года.
                        p Мы для вас разработали лечебную программу с усиленным перечнем лечебно-оздоровительных процедур и с легким. Вы сами можете выбрать подходящую программу санаторно-курортного отдыха, а мы вам поможем разобраться с вариантами путевок.
                        button Выбрать программу оздоровления
                div.swiper-slide
                    div.image
                        img(src="images/programs_2.webp", alt="")
                    div.text
                        h2 Лечебная программа
                        ul
                            li Лечебное отделение обеспечивает более #[span.blue 200 процедур]
                            li Вы сможете пройти консультации #[span.blue 23 докторов и получить индивидуальный перечень процедур], которые помогут улучшить ваше состояние здоровья.
                            li #[span.blue 94% гостей] санатория отмечают #[span.blue улучшение состояние здоровья] в течение всего следующего года.
                        p Мы для вас разработали лечебную программу с усиленным перечнем лечебно-оздоровительных процедур и с легким. Вы сами можете выбрать подходящую программу санаторно-курортного отдыха, а мы вам поможем разобраться с вариантами путевок.
                        button Выбрать программу оздоровления
                div.swiper-slide
                    div.image
                        img(src="images/programs_3.webp", alt="")
                    div.text
                        h2 Лечебная программа
                        ul
                            li Лечебное отделение обеспечивает более #[span.blue 200 процедур]
                            li Вы сможете пройти консультации #[span.blue 23 докторов и получить индивидуальный перечень процедур], которые помогут улучшить ваше состояние здоровья.
                            li #[span.blue 94% гостей] санатория отмечают #[span.blue улучшение состояние здоровья] в течение всего следующего года.
                        p Мы для вас разработали лечебную программу с усиленным перечнем лечебно-оздоровительных процедур и с легким. Вы сами можете выбрать подходящую программу санаторно-курортного отдыха, а мы вам поможем разобраться с вариантами путевок.
                        button Выбрать программу оздоровления
                div.swiper-slide
                    div.image
                        img(src="images/programs_4.webp", alt="")
                    div.text
                        h2 Лечебная программа
                        ul
                            li Лечебное отделение обеспечивает более #[span.blue 200 процедур]
                            li Вы сможете пройти консультации #[span.blue 23 докторов и получить индивидуальный перечень процедур], которые помогут улучшить ваше состояние здоровья.
                            li #[span.blue 94% гостей] санатория отмечают #[span.blue улучшение состояние здоровья] в течение всего следующего года.
                        p Мы для вас разработали лечебную программу с усиленным перечнем лечебно-оздоровительных процедур и с легким. Вы сами можете выбрать подходящую программу санаторно-курортного отдыха, а мы вам поможем разобраться с вариантами путевок.
                        button Выбрать программу оздоровления
                div.swiper-slide
                    div.image
                        img(src="images/programs_5.webp", alt="")
                    div.text
                        h2 Лечебная программа
                        ul
                            li Лечебное отделение обеспечивает более #[span.blue 200 процедур]
                            li Вы сможете пройти консультации #[span.blue 23 докторов и получить индивидуальный перечень процедур], которые помогут улучшить ваше состояние здоровья.
                            li #[span.blue 94% гостей] санатория отмечают #[span.blue улучшение состояние здоровья] в течение всего следующего года.
                        p Мы для вас разработали лечебную программу с усиленным перечнем лечебно-оздоровительных процедур и с легким. Вы сами можете выбрать подходящую программу санаторно-курортного отдыха, а мы вам поможем разобраться с вариантами путевок.
                        button Выбрать программу оздоровления
                div.swiper-slide
                    div.image
                        img(src="images/programs_1.webp", alt="")
                    div.text
                        h2 Лечебная программа
                        ul
                            li Лечебное отделение обеспечивает более #[span.blue 200 процедур]
                            li Вы сможете пройти консультации #[span.blue 23 докторов и получить индивидуальный перечень процедур], которые помогут улучшить ваше состояние здоровья.
                            li #[span.blue 94% гостей] санатория отмечают #[span.blue улучшение состояние здоровья] в течение всего следующего года.
                        p Мы для вас разработали лечебную программу с усиленным перечнем лечебно-оздоровительных процедур и с легким. Вы сами можете выбрать подходящую программу санаторно-курортного отдыха, а мы вам поможем разобраться с вариантами путевок.
                        button Выбрать программу оздоровления
                div.swiper-slide
                    div.image
                        img(src="images/programs_2.webp", alt="")
                    div.text
                        h2 Лечебная программа
                        ul
                            li Лечебное отделение обеспечивает более #[span.blue 200 процедур]
                            li Вы сможете пройти консультации #[span.blue 23 докторов и получить индивидуальный перечень процедур], которые помогут улучшить ваше состояние здоровья.
                            li #[span.blue 94% гостей] санатория отмечают #[span.blue улучшение состояние здоровья] в течение всего следующего года.
                        p Мы для вас разработали лечебную программу с усиленным перечнем лечебно-оздоровительных процедур и с легким. Вы сами можете выбрать подходящую программу санаторно-курортного отдыха, а мы вам поможем разобраться с вариантами путевок.
                        button Выбрать программу оздоровления
                div.swiper-slide
                    div.image
                        img(src="images/programs_3.webp", alt="")
                    div.text
                        h2 Лечебная программа
                        ul
                            li Лечебное отделение обеспечивает более #[span.blue 200 процедур]
                            li Вы сможете пройти консультации #[span.blue 23 докторов и получить индивидуальный перечень процедур], которые помогут улучшить ваше состояние здоровья.
                            li #[span.blue 94% гостей] санатория отмечают #[span.blue улучшение состояние здоровья] в течение всего следующего года.
                        p Мы для вас разработали лечебную программу с усиленным перечнем лечебно-оздоровительных процедур и с легким. Вы сами можете выбрать подходящую программу санаторно-курортного отдыха, а мы вам поможем разобраться с вариантами путевок.
                        button Выбрать программу оздоровления
            div.swiper-navigation
                div.arrow
                    include ../../images/swiper_arrow.svg
                div.arrow
                    include ../../images/swiper_arrow.svg
        div.swiper.thumbs
            div.swiper-wrapper
                div.swiper-slide
                    img(src="images/programs_1.webp", alt="")
                div.swiper-slide
                    img(src="images/programs_2.webp", alt="")
                div.swiper-slide
                    img(src="images/programs_3.webp", alt="")
                div.swiper-slide
                    img(src="images/programs_4.webp", alt="")
                div.swiper-slide
                    img(src="images/programs_5.webp", alt="")
                div.swiper-slide
                    img(src="images/programs_1.webp", alt="")
                div.swiper-slide
                    img(src="images/programs_2.webp", alt="")
                div.swiper-slide
                    img(src="images/programs_3.webp", alt="")
            div.swiper-pagination

