section.program
    div.container
        h2 Программа активного отдыха
        div.list
            div.program
                img(src="images/program_1.webp", alt="")
                span Тематические мероприятия, концерты и танцы каждый день
            div.program
                img(src="images/program_2.webp", alt="")
                span Живые встречи с врачами на темы здоровья и балгополучия
            div.program
                img(src="images/program_3.webp", alt="")
                span Экскурсии по Белокурихе
            div.program
                img(src="images/program_4.webp", alt="")
                span Экзотические практики для укрепления тела и духа
            div.program
                img(src="images/program_5.webp", alt="")
                span Творческие мастер классы, которые раскроют вас и Ван Гога и Микеланджело в одном лице
        hr
        div.more
            img(src="images/program_more.webp", alt="")
            div.text
                strong По 20 самых любопытных мероприятий в день! #[br]С нами не заскучаете.
                button Подробнее об активити