section.what
    div.container
        div.text
            h2 Что такое сезон активного долголетия?
            span Это 2 мощных программы по цене одной:
        div.list
            div.item
                img(src="images/what_1.webp", alt="Лечебная программа")
                span Лечебная программа
            span.blue +
            div.item
                img(src="images/what_2.webp", alt="Программа активного отдыха")
                span Программа активного отдыха
            span.blue =
            div.item
                img(src="images/what_3.webp", alt="Самый яркий отпуск")
                span Самый яркий отпуск
        div.bonus
            div.note
                img(src="images/gift.svg", alt="")
                span БОНУС: куратор заезда, чтобы вы смогли быстро влиться в насыщенную программу отдыха
            button Получить консультацию
            div.discount
                span скидки на путевку
                strong.blue до 20% 
                small (стоимость путевки от 26 680 руб)
                img(src="images/discount_background.svg", alt="")