section.conditions
    div.container
        h2 УСЛОВИЯ ПОЛУЧЕНИЯ ПРЕДЛОЖЕНИЯ
        div.list
            ul
                li Скидка по акции «Здоровье и долголетие» для гостей старше 60 лет при проживании от 7 дней составляет: с 03.11.24 по 22.11.24 - 15%, суммируется с акцией «Лояльность» до 20%; с 23.11.24 по 26.12.24 - 20% – максимальная скидка.
                li Предложение действует на все программы.
                li Предложение действует на проживание в любой категории номера.
            ul
                li Стоимость путевок рассчитана для 1 гостя при размещении на основном месте в номере «Двухместный эконом», на заезд в период с 17.12.24 по 20.12.24, за минимально возможное количество дней пребывания в рамках акции «Здоровье и долголетие» (7 дней) согласно представленным программам.
                li Акция действительна при покупке физическим лицом на официальном сайте и по номеру горячей линии 8 800 100-61-83.
                li Количество мест ограничено, возможно досрочное завершение акции.