section.reviews
    div.container
        div.title
            h2 Отзывы
            img(src="images/rating.png", alt="")
            a.button.green
                span Все отзывы
                include ../../images/arrow.svg
        div.slider
            div.swiper
                div.swiper-wrapper
                    div.swiper-slide
                        +review('Сергей Добрых ', '23.03.2022', 'Один из лучших санаториев Белокурихи, да что там Белокурихи России. И это правда, были там раз пять уже с тремя детьми. Подогреваемые уличные бассейны просто огонь. Детей не вытащить. Кухня разнообразная, вкусная. Всем рекомендую посетить.')
                    div.swiper-slide
                        +review('Демид Золотухин', '23.03.2022', 'Очень вкусно кормят интересное меню. В игровой проводятся занятия для детей: делают поделки и анимацию. Лечение и процедуры приятные.')
                    div.swiper-slide
                        +review('Сергей Добрых ', '23.03.2022', 'Один из лучших санаториев Белокурихи, да что там Белокурихи России. И это правда, были там раз пять уже с тремя детьми. Подогреваемые уличные бассейны просто огонь. Детей не вытащить. Кухня разнообразная, вкусная. Всем рекомендую посетить.')
                    div.swiper-slide
                        +review('Демид Золотухин', '23.03.2022', 'Очень вкусно кормят интересное меню. В игровой проводятся занятия для детей: делают поделки и анимацию. Лечение и процедуры приятные.')
                    div.swiper-slide
                        +review('Сергей Добрых ', '23.03.2022', 'Один из лучших санаториев Белокурихи, да что там Белокурихи России. И это правда, были там раз пять уже с тремя детьми. Подогреваемые уличные бассейны просто огонь. Детей не вытащить. Кухня разнообразная, вкусная. Всем рекомендую посетить.')
                    div.swiper-slide
                        +review('Демид Золотухин', '23.03.2022', 'Очень вкусно кормят интересное меню. В игровой проводятся занятия для детей: делают поделки и анимацию. Лечение и процедуры приятные.')
                    div.swiper-slide
                        +review('Сергей Добрых ', '23.03.2022', 'Один из лучших санаториев Белокурихи, да что там Белокурихи России. И это правда, были там раз пять уже с тремя детьми. Подогреваемые уличные бассейны просто огонь. Детей не вытащить. Кухня разнообразная, вкусная. Всем рекомендую посетить.')
                    div.swiper-slide
                        +review('Демид Золотухин', '23.03.2022', 'Очень вкусно кормят интересное меню. В игровой проводятся занятия для детей: делают поделки и анимацию. Лечение и процедуры приятные.')
            div.swiper-pagination
            div.swiper-navigation
                div.arrow: include ../../images/arrow.svg
                div.arrow: include ../../images/arrow.svg